[submodule "plugins/wp-podcast"]
	path = plugins/wp-podcast
	url = https://github.com/Automattic/wp-podcast
[submodule "plugins/Edit-Flow"]
	path = plugins/Edit-Flow
	url = https://github.com/Automattic/Edit-Flow
