[submodule "plugins/Edit-Flow"]
	path = plugins/Edit-Flow
	url = https://github.com/Automattic/Edit-Flow
[submodule "plugins/liveblog"]
	path = plugins/liveblog
	url = https://github.com/Automattic/liveblog
[submodule "plugins/syntaxhighlighter"]
	path = plugins/syntaxhighlighter
	url = https://github.com/Viper007Bond/syntaxhighlighter
[submodule "plugins/jetpack"]
	path = plugins/jetpack
	url = http://github.com/Automattic/jetpack
