[submodule "plugins/wp-podcast"]
	path = plugins/wp-podcast
	url = https://github.com/Automattic/wp-podcast
[submodule "plugins/Edit-Flow"]
	path = plugins/Edit-Flow
	url = https://github.com/Automattic/Edit-Flow
[submodule "plugins/options-importer"]
	path = plugins/options-importer
	url = https://github.com/alleyinteractive/options-importer
[submodule "plugins/civil-footnotes"]
	path = plugins/civil-footnotes
	url = https://github.com/wp-plugins/civil-footnotes
